In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 500)

In [2]:
# Load the data and check the first few lines
dataset_path = "preprocessed_data.csv" # use your own path

dataset = pd.read_csv(dataset_path)
dataset.head()

,title,location,department,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,in_balanced_dataset
0,marketing intern,usa ny new york,marketing,food52 created groundbreaking award winning co...,food52 fast growing james beard award winning ...,experience content management system major plu...,NaN,0,1,0,2,4,9,NaN,marketing,0,0
1,customer service cloud video production,nz auckland,success,90 second world cloud video production service...,organised focused vibrant awesome passion cust...,expect key responsibility communicate client 9...,get u part 90 second team gain experience work...,0,1,0,1,6,9,marketing advertising,customer service,0,0
2,commissioning machinery assistant cma,usa ia wever,NaN,valor service provides workforce solution meet...,client located houston actively seeking experi...,implement pre commissioning commissioning proc...,NaN,0,1,0,2,6,9,NaN,NaN,0,0
3,account executive washington dc,usa dc washington,sale,passion improving quality life geography heart...,company esri environmental system research ins...,education bachelor master gi business administ...,culture anything corporate collaborative creat...,0,1,0,1,5,1,computer software,sale,0,0
4,bill review manager,usa fl fort worth,NaN,spotsource solution llc global human capital m...,job title itemization review manager location ...,qualification rn license state texas diploma b...,full benefit offered,0,1,1,1,5,1,hospital health care,health care provider,0,0

In [3]:
# first create a new column of missing company profile
# 0 - missing, 1- present
dataset['missing company profile'] = dataset['company_profile'].apply(lambda x: 0 if pd.isna(x) else 1)

In [4]:
# Then create a new column of missing company profile and company logo
# has_company_logo: 1 - present, 0 - missing
# 0: both present, 1: logo is present, 2: profile is present, 3: both are present
dataset['missing company information'] = dataset['has_company_logo'] + dataset['missing company profile'] * 2

In [5]:
dataset

,title,location,department,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,in_balanced_dataset,missing company profile,missing company information
0,marketing intern,usa ny new york,marketing,food52 created groundbreaking award winning co...,food52 fast growing james beard award winning ...,experience content management system major plu...,NaN,0,1,0,2,4,9,NaN,marketing,0,0,1,3
1,customer service cloud video production,nz auckland,success,90 second world cloud video production service...,organised focused vibrant awesome passion cust...,expect key responsibility communicate client 9...,get u part 90 second team gain experience work...,0,1,0,1,6,9,marketing advertising,customer service,0,0,1,3
2,commissioning machinery assistant cma,usa ia wever,NaN,valor service provides workforce solution meet...,client located houston actively seeking experi...,implement pre commissioning commissioning proc...,NaN,0,1,0,2,6,9,NaN,NaN,0,0,1,3
3,account executive washington dc,usa dc washington,sale,passion improving quality life geography heart...,company esri environmental system research ins...,education bachelor master gi business administ...,culture anything corporate collaborative creat...,0,1,0,1,5,1,computer software,sale,0,0,1,3
4,bill review manager,usa fl fort worth,NaN,spotsource solution llc global human capital m...,job title itemization review manager location ...,qualification rn license state texas diploma b...,full benefit offered,0,1,1,1,5,1,hospital health care,health care provider,0,0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17875,account director distribution,ca toronto,sale,vend looking awesome new talent come join u wo...,case first time visited website vend award win...,ace role eat comprehensive statement work brea...,expect u open culture openly share result inpu...,0,1,1,1,5,9,computer software,sale,0,0,1,3
17876,payroll accountant,usa pa philadelphia,accounting,weblinc e commerce platform service provider f...,payroll accountant focus primarily payroll fun...,b b accounting desire fun love genuine passion...,health wellness medical plan prescription drug...,0,1,1,1,5,1,internet,accounting auditing,0,0,1,3
17877,project cost control staff engineer cost contr...,usa tx houston,NaN,provide full time permanent position many medi...,experienced project cost control staff enginee...,least 12 year professional experience ability ...,NaN,0,0,0,1,6,9,NaN,NaN,0,0,1,2
17878,graphic designer,ng la lagos,NaN,NaN,nemsia studio looking experienced visual graph...,1 must fluent latest version corel adobe cc es...,competitive salary compensation based experien...,0,0,1,0,6,6,graphic design,design,0,0,0,0
17879,web application developer,nz n wellington,engineering,vend looking awesome new talent come join u wo...,vend award winning web based point sale softwa...,want hear depth understanding oo programming t...,NaN,0,1,1,1,5,9,computer software,engineering,0,0,1,3

In [6]:
dataset.to_csv('preprocessed_data_with_numerical.csv', index=False)